#home{
    width: 250px;
}

#add{
    float: right;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li{
    margin-bottom: 10px;
}
  
ul a{
    margin-right: 10px;
    margin-bottom: 10px;
}

ul button{
    float: right;
    background-color: red;
    border: none;
    border-radius: 20px;
}

.playerHeader{
    width: 250px;
    margin: auto;
}

.current_player_score{
    float: right;
}

.pawn{
    position: absolute;
    margin: 1px;
    height: 38px;
    width: 38px;
    z-index: 1;
    transition-duration: 1s;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.pawn.current{
    z-index: 2;
}

.green{
    background-image: url('assets/catg.png');
}

.blue{
    background-image: url('assets/catb.png');
}

.yellow{
    background-image: url('assets/caty.png');
}

.red{
    background-image: url('assets/catr.png');
}

#playground{
    width: 640px;
    height: 640px;
    margin: auto;
    background-image: url('assets/main48x48.png');
    background-size: 40px 40px;
}
#up, #down, #right, #left{
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 2;
    background-image: url('assets/arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#left{
    background-image: url('assets/arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-24px, 7px) rotate(270deg);
}
#right{
    transform: translate(38px, 7px) rotate(90deg);
}
#down{
    transform: translate(7px, 38px) rotate(180deg);
}
#up{
    transform: translate(7px, -24px);
}
.field{
    height: 40px;
    width: 40px;
    float: left;
}

.border{
    background-image: url('assets/border48x48.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.right{
    transform: rotate(90deg);
}

.down{
    transform: rotate(180deg);
}

.left{
    transform: rotate(270deg);
}

.corner{
    background-image: url('assets/corner48x48.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.BOC_left_up{
    transform: rotate(270deg);
}

.BOC_left_down{
    transform: rotate(180deg);
}

.BOC_right_down{
    transform: rotate(90deg);
}

.BOC_red{
    background-image: url('assets/corner48x48.png'),url('./assets/yarnr.png');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 90%;

}

.BOC_green{
    background-image: url('assets/corner48x48.png'),url('./assets/yarng.png');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 90%;
}

.BOC_blue{
    background-image: url('assets/corner48x48.png'),url('./assets/yarnb.png');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 90%;
}

.BOC_yellow{
    background-image: url('assets/corner48x48.png'),url('./assets/yarny.png');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 90%;
}

.BOC_multicolor{
    background-image: url('assets/corner48x48.png'),url('./assets/yarnm.png');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 90%;
}

.Victory{
    background-image: url('assets/crocket.png');
}