.player{
    position: absolute;
    background-color: blue;
    margin: 1px;
    height: 38px;
    width: 38px;
    transition-duration: 1s;
}
#playground{
    width: 640px;
    margin: auto;
}
#up, #down, #right, #left{
    position: absolute;
    height: 20px;
    width: 20px;
    border: 2px solid black;
}
#left{
    transform: translate(-24px, 7px);
}
#right{
    transform: translate(38px, 7px);
}
#down{
    transform: translate(7px, 38px);
}
#up{
    transform: translate(7px, -24px);
}
.field{
    height: 38px;
    width: 38px;
    float: left;
    border: 1px solid black;
}
.rightfence{
    border-right: 1px solid pink;
}
.leftfence{
    border-left: 1px solid pink;
}
.upfence{
    border-top: 1px solid pink;
}
.downfence{
    border-bottom: 1px solid pink;
}